.info {
  padding-right: 30px ;
  float: right;
   position: absolute;
   right: 550px;
   top: 5%;
   font-size: 20px;
}

.detail {
  float: right;
  width: 30%;
  color: teal;
}

@media screen and (min-width: 480px) {
  body{
    background-color:  #F2F4F4 ;
    color: black;
  }
