/* dor desktops */

@media (max-width: 1200px) {
  .about-project {
    height: 100vh;
    width: 50%;
    float: right;
    margin-top: -70%;
    /* margin-top: 5%; */
    /* margin-left: 50%; */
  }
  .project-list .project-link {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #888;
    margin-left: 40%;
    /*margin-bottom: 5%;*/
    font-family: 'Flamenco', 'asap';
  }
  .python {
    margin-top: -20%;
    margin-left: 30%;
  }
  .javascript {
    margin-left: 55%;
    margin-top: -20%;
  }
  .flask {
    margin-left: 77%;
    margin-top: -19%;
    margin-right: 5%;
  }
  .github {
    height: inherit;
    margin-left: 15%;
    color: white;
  }
  .linkedin {
    height: inherit;
    margin-left: 32s%;
    margin-top: -9%;
  }
  .mail {
    height: inherit;
    margin-left: 49%;
    margin-top: -8%;
  }
}

@media (max-width: 1024px) {
  .about-project {
    height: 100vh;
    width: 50%;
    float: right;
    margin-top: -90%;
    /* margin-top: 5%; */
    /* margin-left: -35%; */
  }
  .projects {
    margin-top: -1%;
    float: left;
    width: 50vw;
    height: 60vh;
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .projects-2 {
    margin-top: -1%;
    float: right;
    width: 50vw;
    height: 60vh;
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .projects-3 {
    margin-top: -1%;
    float: left;
    width: 50vw;
    height: 65vh;
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .projects-4 {
    margin-top: -1%;
    float: right;
    width: 50vw;
    height: 65vh;
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .project-text {
    margin-top: 25%;
    margin-left: 15%;
    margin-left: 4%;
  }
  .project-text .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 42px;
    letter-spacing: 1px;
    font-weight: 1000;
    color: #888;
    margin-bottom: 5%;
    font-family: 'Flamenco', 'asap';
  }
  .project-text .passion {
    font-family: 'Flamenco', 'asap';
    font-style: normal;
    font-size: 17.5px;
    letter-spacing: 1px;
    line-height: 35px;
    /* letter-spacing: 2px; */
    font-weight: 1000;
    color: #888;
    margin-bottom: 7%;
  }
  .project-list .project-link {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #888;
    margin-left: 40%;
    /*margin-bottom: 5%;*/
    font-family: 'Flamenco', 'asap';
  }
  .python {
    margin-top: -24%;
    margin-left: 27%;
  }
  .javascript {
    margin-left: 53%;
    margin-top: -23%;
  }
  .flask {
    margin-left: 75%;
    margin-top: -22.5%;
    margin-right: 5%;
  }
  .github {
    height: inherit;
    margin-left: 11%;
    color: white;
  }
  .linkedin {
    height: inherit;
    margin-left: 30%;
    margin-top: -10%;
  }
  .mail {
    height: inherit;
    margin-left: 50%;
    margin-top: -10%;
  }
}


/* for laptops */

@media (max-width: 991px) {
  .about {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: table;
  }
  .about-intro {
    height: 100%;
    width: 50%;
    margin-left: 0;
    float: left;
    background: url(../assets/about/about-me-icon.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .about-me {
    height: 100%;
    width: 50%;
    float: right;
    /*margin-left: 50%;*/
  }
  .about-text {
    margin-left: 5%;
  }
  .about-text .passion {
    font-family: 'Flamenco', 'asap';
    font-style: normal;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 28px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #888;
    margin-bottom: 3%;
  }
  .about-text .quote {
    font-family: 'Flamenco', 'asap';
    font-style: italic;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 550;
    color: #888;
    margin-left: 20%;
    margin-top: -21%;
  }
  .python {
    margin-top: -24%;
    margin-left: 25%;
  }
  .javascript {
    margin-left: 50%;
    margin-top: -24%;
  }
  .flask {
    margin-left: 72%;
    margin-top: -23%;
    margin-right: 5%;
  }
  .github {
    height: inherit;
    margin-left: 11%;
    color: white;
  }
  .linkedin {
    height: inherit;
    margin-left: 30%;
    margin-top: -10%;
  }
  .mail {
    height: inherit;
    margin-left: 50%;
    margin-top: -10%;
  }
}


/* for smaller tablets */

@media (max-width: 768px) {
  .about {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: table;
  }
  .about-intro {
    height: 100%;
    width: 50%;
    margin-left: 0;
    float: left;
    background: url('../assets/about/about-me-icon.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
  }
  .about-me {
    height: 100%;
    width: 50%;
    float: right;
    /*margin-left: 50%;*/
  }
  .about-text {
    margin-top: 10%;
    margin-left: 3.5%;
    height: auto;
  }
  .about-text .hello {
    font-family: 'Flamenco', 'asap';
    font-size: 30px;
    /* font-weight: 600; */
    color: #888;
    margin-bottom: 3%;
    /* margin-top: 10%; */
    font-weight: 1000;
    line-height: 20px;
    font-size: 26px;
    /*margin: 0 0 23px 0;*/
  }
  .about-text .name {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #888;
    margin-bottom: 5%;
    font-family: 'Flamenco', 'asap';
  }
  .about-text .passion {
    font-family: 'Flamenco', 'asap';
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    /* letter-spacing: 2px; */
    font-weight: 700;
    color: #888;
    /* margin-bottom: 7%; */
  }
  .about-text .quote {
    font-family: 'Flamenco', 'asap';
    font-style: italic;
    font-size: 16px;
    /* letter-spacing: 2px; */
    line-height: 35px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #888;
    /* margin-left: 15%; */
    /* margin-top: -15%; */
  }
  .about-text .quote-author {
    font-family: 'Flamenco', 'asap';
    font-weight: 600;
    color: #888;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 40px;
    margin-left: 15%;
    letter-spacing: 2px
  }
  .fa-5x {
    font-size: 2em;
  }
  blockquote {
    padding: 0;
    margin: 0;
    /* margin: 0 0 20px; */
    font-size: 12.5px;
    border-left: 5px solid #eee;
  }
  .projects-wrap {
    height: auto;
    width: 100vw;
    margin: auto;
    display: table;
    background-color: #2b2b2b;
  }
  .about-project {
    height: 100vh;
    width: 50%;
    float: right;
    margin-top: -86%;
    /* margin-top: 5%; */
    /* margin-left: 50%; */
  }
  .projects {
    margin-top: -1%;
    float: left;
    width: 50vw;
    margin-bottom: 5%;
    height: 50%;
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .projects-2 {
    margin-top: -1%;
    float: right;
    width: 50vw;
    margin-bottom: -35%;
    /*height: 50%;*/
    min-height: 100%;
    background-color: #2b2b2b;
  }
  /*.projects-3 {
    margin-top: -1%;
    float: left;
    width: 50vw;
    height: 50vh;
    min-height: 100%;
    background-color: #2b2b2b;
    margin-bottom: 10%;
  }*/
  .projects-3 {
    margin-top: -1%;
    margin-left: 1%;
    float: left;
    width: 50vw;
    height: 65vh;
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .projects-4 {
    margin-top: -58%;
    float: right;
    width: 50vw;
    height: 50vh;
    min-height: 100%;
    background-color: #2b2b2b;
    margin-bottom: 10%;
  }
  .project-text {
    margin-top: 15%;
    margin-left: 5%;
  }
  .project-text .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 1000;
    color: #888;
    margin-bottom: 5%;
    margin-left: -1%;
    font-family: 'Flamenco', 'asap';
  }
  .project-text .passion {
    font-family: 'Flamenco', 'asap';
    font-style: normal;
    font-size: 12px;
    /* letter-spacing: 1px; */
    line-height: 29px;
    /* margin-left: 0.5%; */
    letter-spacing: 1px;
    font-weight: 1000;
    color: #888;
  }
  .project-list {
    width: 50%;
    list-style: none;
    margin-left: 0%;
    /*margin-top: -3px;*/
  }
  .project-list .project-name {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #888;
    margin-left: -40%;
    /*margin-bottom: 5%;*/
    font-family: 'Flamenco', 'asap';
  }
  .project-list .passion {
    margin-left: -40%;
  }
  .project-list .project-link {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #888;
    margin-left: 40%;
    /*margin-bottom: 5%;*/
    font-family: 'Flamenco', 'asap';
  }
  .project-list li {
    float: left;
    width: 30%;
  }
  .skills {
    height: auto;
    min-height: 100%;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    background-color: #262626;
    /* background-color: red; */
  }
  .skills-box {
    float: left;
    margin: 0;
    width: 100%;
    height: auto;
  }
  .skills-box h6 {
    color: white;
    font-family: 'Flamenco', 'asap';
    font-size: 50px;
    font-weight: 1000;
    padding-top: 8%;
    margin: 0;
  }
  .django {
    margin-top: 5%;
    margin-left: 5%;
  }
  .python {
    margin-top: -32%;
    margin-left: 60%;
  }
  .javascript {
    margin-left: 5%;
    margin-top: 10%;
  }
  .flask {
    margin-left: 62%;
    margin-top: -32%;
    margin-right: 5%;
  }
  .contact-section {
    height: auto;
    min-height: 60%;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    background-color: #2b2b2b;
  }
  .contact-section h1 {
    color: white;
    font-family: 'Flamenco', 'asap';
    font-size: 100px;
    font-weight: 1000;
    padding-top: 5%;
    margin: 0;
  }
  .contact-section .contact {
    height: auto;
    min-height: 80%;
    width: 70vw;
    box-sizing: border-box;
    /*background-color: #262626;*/
    margin-left: 25%;
    margin-top: 5%;
  }
  .github {
    height: inherit;
    margin-left: 5%;
    color: white;
  }
  .github p {
    text-align: center;
    margin-top: 2%;
    font-size: 0.7777777777777778em;
    line-height: 1.5em;
  }
  .linkedin {
    height: inherit;
    margin-left: 30%;
    margin-top: -14%;
  }
  .mail {
    height: inherit;
    margin-left: 57%;
    margin-top: -13%;
  }
}


/* for cellphones */

@media (max-width: 501px) {
  .about-intro {
    background: none;
  }
  .about-me {
    height: 100%;
    width: 100%;
    float: right;
    /* margin-left: 50%; */
  }
  .about-text {
    margin-top: -105%;
    margin-left: 3.5%;
    height: auto;
    width: 100%;
  }
  .about-text .hello {
    font-family: 'Flamenco', 'asap';
    font-size: 30px;
    /* font-weight: 600; */
    color: #888;
    margin-bottom: 8%;
    /* margin-top: 10%; */
    font-weight: 1000;
    line-height: 20px;
    font-size: 26px;
    /* margin: 0 0 23px 0; */
  }
  .about-text .name {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #888;
    margin-bottom: 8%;
    font-family: 'Flamenco', 'asap';
  }
  .about-text .passion {
    font-family: 'Flamenco', 'asap';
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    /* letter-spacing: 2px; */
    font-weight: 700;
    color: #888;
    margin-bottom: 7%;
  }
  .fa-5x {
    font-size: 5em;
    color: #888;
    margin-left: 3%;
  }
  .about-text .quote {
    font-family: 'Flamenco', 'asap';
    font-style: italic;
    font-size: 16px;
    /* letter-spacing: 2px; */
    line-height: 35px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #888;
    /* margin-left: 15%; */
    margin-top: -13%;
  }
  .projects {
    margin-top: 10%;
    float: left;
    width: 50vw;
    margin-bottom: 5%;
    height: 50%;
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .projects-2 {
    margin-top: 10%;
    float: right;
    width: 50vw;
    margin-bottom: -35%;
    /* height: 50%; */
    min-height: 100%;
    background-color: #2b2b2b;
  }
  .projects-3 {
    margin-top: -9%;
    float: left;
    width: 50vw;
    height: 50vh;
    min-height: 100%;
    background-color: #2b2b2b;
    margin-bottom: 10%;
    /*margin-left: 10%;*/
  }
  .projects-4 {
    margin-top: -78%;
    float: right;
    width: 50vw;
    height: 50vh;
    min-height: 100%;
    background-color: #2b2b2b;
    margin-bottom: 10%;
  }
  .project-wrapper {
    height: 64vh;
    width: 100%;
  }
  .project-wrapper .slaygram-pic {
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-left: 0;
    float: left;
    background: url(../assets/slaygram/slaygram-icon.png);
    background-repeat: no-repeat;
    background-size: 95% 80%;
  }
  .about-project {
    height: 50vh;
    width: 100%;
    margin-top: -30%;
    /* float: right; */
    /* margin-top: -135%; */
    /* margin-top: 5%; */
    /* margin-left: 50%; */
  }
  .project-text .hello {
    font-family: 'Flamenco', 'asap';
    font-weight: 1000;
    color: #888;
    margin-bottom: 5%;
    margin-top: 10%;
    font-weight: 700;
    line-height: 46px;
    font-size: 30px;
    margin: 0 0 23px 0;
  }
  .python {
    margin-top: -47%;
    margin-left: 52%;
    margin-right: 5%;
  }
  .flask {
    margin-left: 50%;
    margin-top: -45%;
    margin-right: 5%;
  }
  .github {
    height: inherit;
    margin-left: -13%;
    color: white;
  }
  .linkedin {
    height: inherit;
    margin-left: 23%;
    margin-top: -20%;
  }
  .mail {
    height: inherit;
    margin-left: 60%;
    margin-top: -20%;
  }
}

@media (max-width: 360px) {
  .about-me {
    height: 100%;
    /*width: 50%;*/
    float: right;
    /* margin-left: 50%; */
    margin-top: -60%;
  }
  .project-intro {
    margin-top: -21%;
    height: auto;
    min-height: 40%;
    width: 100vw;
    margin: 0;
    margin-top: -10%;
    /* background-color: #241f20; */
    background-color: #2b2b2b;
  }
  .project-intro h1 {
    color: white;
    font-family: 'Flamenco', 'asap';
    font-size: 90px;
    font-weight: 1000;
    padding-top: 10%;
  }
  .projects {
    margin-top: 1%;
    float: left;
    width: 50vw;
    margin-bottom: -15%;
    height: 50vh;
    min-height: 50%;
    background-color: #2b2b2b;
  }
  .projects-2 {
    margin-top: 1%;
    float: right;
    width: 50vw;
    margin-bottom: -35%;
    height: 50vh;
    min-height: 50%;
    background-color: #2b2b2b;
  }
  .projects-3 {
    margin-top: -20%;
    float: left;
    width: 50vw;
    height: 25vh;
    min-height: 100%;
    background-color: #2b2b2b;
    margin-bottom: 10%;
  }
  .projects-4 {
    margin-top: -55%;
    float: right;
    width: 50vw;
    height: 25vh;
    min-height: 100%;
    background-color: #2b2b2b;
    margin-bottom: 10%;
  }
  .project-details {
    height: auto;
    width: 100vw;
    margin: auto;
    display: table;
  }
  .project-wrapper {
    /*height: 100vh;*/
    min-height: 50%;
    width: 100%;
    /*float: none;*/
  }
  .project-wrapper .slaygram-pic {
    height: 51%;
    width: 51vh;
    margin-top: 5%;
    margin-left: 0;
    /* float: left; */
    background: url(../assets/slaygram/slaygram-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .django {
    margin-top: -5%;
    margin-left: -5%;
  }
  .python {
    margin-top: -68%;
    margin-left: 45%;
    margin-right: -5%;
  }
  .javascript {
    margin-left: -5%;
    margin-top: 10%;
  }
  .flask {
    margin-left: 45%;
    margin-top: -65%;
    margin-right: -12%;
  }
  .contact-section h1 {
    color: white;
    font-family: 'Flamenco', 'asap';
    font-size: 65px;
    font-weight: 1000;
    padding-top: 5%;
    margin: 0;
  }
  .github {
    height: inherit;
    margin-left: -25%;
    color: white;
  }
  .linkedin {
    height: inherit;
    margin-left: 20%;
    margin-top: -28%;
  }
  .mail {
    height: inherit;
    margin-left: 65%;
    margin-top: -28%;
  }
}
