@import url("https://fonts.googleapis.com/css?family=Asap");
@import url("https://fonts.googleapis.com/css?family=Flamenco");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


/* Home Section */

.landing {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: url(../assets/backgrounds/bg.jpg);
  background-repeat: no-repeat;
  display: table;
  top: 0;
  background-size: cover;
}

.outer {
  height: 100vh;
  position: absolute;
  width: 100vw;
  margin: 0;
  background: url(../assets/backgrounds/triangles.png);
  background-repeat: no-repeat;
  display: table;
  top: 0;
  opacity: .03;
  background-size: cover;
}

.landing .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content::before {
  content: '';
  width: 337px;
  height: 337px;
  left: 50%;
  top: 50%;
  margin-left: -168px;
  margin-top: -168px;
  background: url(../assets/backgrounds/dark-red1.png);
  background-size: cover;
  position: absolute;
}

.content h1 {
  position: relative;
  color: #BABAB9;
  z-index: 2;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.26em;
  font-weight: 300;
  font-style: italic;
  font-family: "freight-big-pro";
  text-transform: uppercase;
}

.content h2 {
  position: relative;
  color: #BABAB9;
  margin-top: 2px;
  z-index: 2;
  font-family: "brandon-grotesque";
  font-size: 13px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}


/* About */

.about {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: table;
}

.about-intro {
  height: 100%;
  width: 50%;
  margin-left: 0;
  float: left;
  background: url('../assets/about/about-me-icon.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about-me {
  height: 100vh;
  width: 50%;
  float: right;
  /*margin-left: 50%;*/
}

.about-text {
  margin-top: 10%;
  margin-left: 15%;
  margin-left: 15%;
}

.about-text .hello {
  font-family: 'Flamenco', 'asap';
  font-size: 30px;
  font-weight: 1000;
  color: #888;
  margin-bottom: 5%;
  margin-top: 10%;
  font-weight: 700;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 23px 0;
}

.about-text .name {
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2px;
  font-weight: 800;
  color: #888;
  margin-bottom: 5%;
  font-family: 'Flamenco', 'asap';
}

.about-text .passion {
  font-family: 'Flamenco', 'asap';
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 28px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #888;
  margin-bottom: 7%;
}

.about-text .quote {
  font-family: 'Flamenco', 'asap';
  font-style: italic;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: 550;
  color: #888;
  margin-left: 15%;
  margin-top: -15%;
}

.about-text .quote-author {
  font-family: 'Flamenco', 'asap';
  font-weight: 550;
  color: #888;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  margin-left: 15%;
  letter-spacing: 2px
}


/* Projects Section*/

.projects-wrap {
  height: auto;
  width: 100vw;
  margin: auto;
  display: table;
  background-color: #2b2b2b;
}


/* Projects Intro */

.project-intro {
  height: auto;
  min-height: 40%;
  width: 100vw;
  margin: 0;
  /*background-color: #241f20;*/
  background-color: #2b2b2b;
}

.project-intro h1 {
  color: white;
  font-family: 'Flamenco', 'asap';
  font-size: 100px;
  font-weight: 1000;
  padding-top: 10%;
}


/* Projects Sections*/

.projects {
  margin-top: -1%;
  float: left;
  width: 50vw;
  height: 100vh;
  min-height: 100%;
  background-color: #2b2b2b;
}

.projects-2 {
  margin-top: -1%;
  float: right;
  width: 50vw;
  height: 100vh;
  min-height: 100%;
  background-color: #2b2b2b;
}

.projects-3 {
  margin-top: -1%;
  float: left;
  width: 50vw;
  height: 100vh;
  min-height: 100%;
  background-color: #2b2b2b;
}

.projects-4 {
  margin-top: -1%;
  float: right;
  width: 50vw;
  height: 100vh;
  min-height: 100%;
  background-color: #2b2b2b;
}

.slaygram {
  display: block;
  vertical-align: middle;
  width: 40vw;
  height: 40vh;
  min-height: 40%;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 20%;
  margin-bottom: 5%;
  transition: 0.3s;
  border-radius: 10px;
}

.slaygram img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  /*transition: all 300ms linear border-radius: 10px;*/
  display: block;
}

.slaygram:hover img {
  opacity: 0.2;
  cursor: pointer;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.ugatuzi {
  display: block;
  vertical-align: middle;
  width: 40vw;
  height: 40vh;
  min-height: 40%;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 20%;
  margin-bottom: 5%;
  /*border-radius: 10px;*/
}

.ugatuzi img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  /*transition: all 300ms linear border-radius: 10px;*/
  display: block;
}

.ugatuzi:hover img {
  opacity: 0.2;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  -ms-transition: 0.2stranslate(-50%, -50%);
}

.hoxbox {
  display: block;
  vertical-align: middle;
  width: 40vw;
  height: 40vh;
  min-height: 40%;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.hoxbox img {
  width: 100%;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  height: auto;
  display: block;
}

.hoxbox:hover img {
  opacity: 0.2;
  cursor: pointer;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.funsquare {
  display: block;
  vertical-align: middle;
  width: 40vw;
  height: 40vh;
  min-height: 40%;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.funsquare img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.funsquare:hover img {
  opacity: 0.2;
  cursor: pointer;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}


/* Project Details*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid black;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  color: #9b9b9b;
  border: 0;
}

.project-images {
  float: left;
  width: 50%;
  max-width: 100%;
  min-height: 759px;
  display: block;
  position: relative;
}

.project-images img {
  min-width: 50%;
  min-height: 50%;
  height: 30%;
}

.project-details {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: table;
}

.project-shot {
  height: 100%;
  width: 50%;
  margin-left: 0;
  float: left;
  background: url('../assets/about/about-me-icon.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about-project {
  height: 100vh;
  width: 50%;
  float: right;
  /*margin-top: 5%;*/
  /*margin-left: 50%;*/
}

.project-text {
  margin-top: 25%;
  margin-left: 15%;
  margin-left: 15%;
}

.project-text .hello {
  font-family: 'Flamenco', 'asap';
  font-size: 30px;
  font-weight: 1000;
  color: #888;
  margin-bottom: 5%;
  margin-top: 10%;
  font-weight: 700;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 23px 0;
}

.project-text .name {
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2px;
  font-weight: 800;
  color: #888;
  margin-bottom: 5%;
  font-family: 'Flamenco', 'asap';
}

.project-text .passion {
  font-family: 'Flamenco', 'asap';
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 28px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #888;
  margin-bottom: 7%;
}

.project-text .quote {
  font-family: 'Flamenco', 'asap';
  font-style: italic;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: 550;
  color: #888;
  margin-left: 15%;
  margin-top: -15%;
}

.project-text .quote-author {
  font-family: 'Flamenco', 'asap';
  font-weight: 550;
  color: #888;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  margin-left: 15%;
  letter-spacing: 2px
}

.project-info {
  height: auto;
  min-height: 80%;
  width: 70vw;
  box-sizing: border-box;
  /*background-color: #262626;*/
  margin-left: -6%;
  margin-top: 5%;
}

.project-list {
  width: 100%;
  list-style: none;
  /*margin-top: -3px;*/
}

.project-list .project-name {
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2px;
  font-weight: 800;
  color: #888;
  /*margin-bottom: 5%;*/
  font-family: 'Flamenco', 'asap';
}

.project-list li {
  float: left;
  width: 30%;
}


/* skills section */

.skills {
  height: auto;
  min-height: 40%;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  background-color: #262626;
  /*background-color: red;*/
}

.skills-box {
  float: left;
  margin: 0;
  width: 100%;
}

.python {
  margin-left: 5%;
}

.contact-section {
  height: auto;
  min-height: 60%;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  background-color: #2b2b2b;
}

.contact-section h1 {
  color: white;
  font-family: 'Flamenco', 'asap';
  font-size: 100px;
  font-weight: 1000;
  padding-top: 5%;
  margin: 0;
}

.contact-section .contact {
  height: auto;
  min-height: 80%;
  width: 70vw;
  box-sizing: border-box;
  /*background-color: #262626;*/
  margin-left: 25%;
  margin-top: 5%;
}

.fa .fa-github {
  color: white;
}

.github {
  height: inherit;
  margin-left: 18%;
  color: white;
}

.github p {
  text-align: center;
  margin-top: 2%;
  font-size: 0.7777777777777778em;
  line-height: 1.5em;
}

.linkedin {
  height: inherit;
  margin-left: 30%;
  margin-top: -7%;
}

.mail {
  height: inherit;
  margin-left: 45%;
  margin-top: -7%;
}
